<div class="row">
	 <div class="col-md-2 sidebar-padding">
		 <div class="list-group">
		  <a href="#" class="list-group-item active">
		    Users</a>
		  <a href="#" class="list-group-item">Gadget inventory
		  </a>
		</div>
	</div>

	<div class="col-md-10">
	  <div class="col-md-9">
      <div class="well">
       <legend>User Registration form</legend>
      <div class="col-md-offset-1">
       <%= form_for @user ,class: "form-horizontal" do |f|%>
        
        <div class="row">
            <div class="form-group">
		              <label class="col-md-2 control-label">First name</label>  
		               <div class="col-md-6">
		              <%= f.text_field :fistname, required: true, class: 'form-control',place_holder: "Enter first name"%>
		             </div>
		            </div>
        </div><br/>
        
        <div class="row">
            <div class="form-group">
		              <label class="col-md-2 control-label">Last name</label>  
		               <div class="col-md-6">
		              <%= f.text_field :lastname, required: true, class: 'form-control'%>
		             </div>
		            </div>
        </div><br/>
        <div class="row">
            <div class="form-group">
		              <label class="col-md-2 control-label">Email</label>  
		               <div class="col-md-6">
		              <%= f.email_field :email, required: true, class: 'form-control'%>
		             </div>
		            </div>
        </div><br/>
        <div class="row">
            <div class="form-group">
		              <label class="col-md-2 control-label">Password</label>  
		               <div class="col-md-6">
		              <%= f.password_field :password, required: true, class: 'form-control'%>
		             </div>
		            </div>
        </div><br/>
        <div class="row">
            <div class="form-group">
		              <label class="col-md-2 control-label">Password confirmation</label>  
		               <div class="col-md-6">
		              <%= f.password_field :password_confirmation, required: true, class: 'form-control'%>
		             </div>
		            </div>
        </div><br/>

        
        <div class="row">
            <div class="form-group">
		              <label class="col-md-2 control-label">Role</label>  
		               <div class="col-md-6">
		             <%= f.collection_select :role, User::ROLES,
		              :to_s, :to_s,{:include_blank => false},{class: "form-control"}%>
		             </div>
		            </div>
        </div><br/>



		      <div class="row col-md-offset-3">
		        <%= link_to "Back", users_path, class: 'btn btn-primary' %>
		        <%= f.submit "Save", class: 'btn btn-default' %>
		      </div>      
       <%end%>
    </div>
      </div>
    </div>
	</div>
</div>
