	 
	<%= form_for @gadget ,class: "form-horizontal" do |f|%>
    <div class="container">
      <div class="col-md-10">
          <div class="row">
            <div class="col-md-9">
              <%= f.text_field :title, required: true, class: 'form-control', placeholder: 'Enter Title Here' %>
            </div>
            <div class="col-md-3">
             <%= link_to "Back", gadgets_path, class: 'btn btn-primary' %>
             <%= f.submit "Save", class: 'btn btn-primary' %>
            </div>
          </div>
        <hr/>
          <div class="col-md-8">
		          <div class="row">
		            <div class="form-group">
		              <label class="col-md-3 control-label">Name of the method/gadget</label>  
		               <div class="col-md-9">
		              <%= f.text_field :title, required: true, class: 'form-control' %>
		             </div>
		            </div>
		          </div><br>
		          <div class="row">
		            <div class="form-group">
		              <label class="col-md-3 control-label">Useful for</label>  
		               <div class="col-md-9">
		              <%= f.text_field :useful_for, required: true, class: 'form-control' %>
		             </div>
		            </div>
		          </div><br>
		          <div class="row">
		            <div class="form-group">
		              <label class="col-md-3 control-label">Gadget description</label>  
		               <div class="col-md-9">
		              <%= f.text_field :gadget_description, required: true, class: 'form-control' %>
		             </div>
		            </div>
		          </div><br>
		           <div class="row">
		            <div class="form-group">
		              <label class="col-md-3 control-label">Analysis group</label>  
		               <div class="col-md-9">
		              <%= f.text_field :analysis_group, required: true, class: 'form-control' %>
		             </div>
		            </div>
		          </div><br>

		           <div class="row">
		            <div class="form-group">
		              <label class="col-md-3 control-label">Company name</label>  
		               <div class="col-md-9">
		              <%= f.text_field :company_name, required: true, class: 'form-control' %>
		             </div>
		            </div>
		          </div><br>

		          <div class="row">
		            <div class="form-group">
		              <label class="col-md-3 control-label">Company website</label>  
		               <div class="col-md-9">
		              <%= f.text_field :company_website, required: true, class: 'form-control'%>
		             </div>
		            </div>
		          </div><br>
		          <div class="row">
		            <div class="form-group">
		              <label class="col-md-3 control-label">Currency</label> 
		              <div class="col-md-6">
		                <%= f.text_field :currency_id, required: true, class: 'form-control'%>
		              </div> 
		               <div class="col-md-3">
		              <%= f.collection_select :currency_id, Gadget::CURRENCY,
		              :to_s, :to_s,{:include_blank => false},{class: "form-control"}%>
		             </div>
		            </div>
		          </div><br>

              <div class="row">
                <label class="col-md-3 control-label">Tools for users</label>
                <div class="col-md-9">
                <%if @gadget.tool_aviable=="Yes" %>
							      <%= f.radio_button :tool_aviable, "yes",:checked => true,:id=>"first" %>
							       <label for="first">Aviable</label>
							       <%= f.radio_button :tool_aviable, "NO",:checked => false,:id=>"second" %>
							   <label for="second">Not aviable</label>
							  
							  <%elsif @gadget.tool_aviable="No"%>
                     <%= f.radio_button :tool_aviable, "yes",:checked => false,:id=>"first" %>
							       <label for="first">Aviable</label>
							       <%= f.radio_button :tool_aviable, "NO",:checked => true,:id=>"second" %>
							        <label for="first">Not aviable</label>
							  <%else%>
							  
							   <%= f.radio_button :tool_aviable, "yes",:checked => true,:id=>"first" %>
							      <label for="first">Aviable</label>
							       <%= f.radio_button :tool_aviable, "NO",:checked => false,:id=>"second" %>
							       <label for="first">Aviable</label>
							  <%end%>
							   
                </div>
              </div><br/>

              <div class="row">
		            <div class="form-group">
		              <label class="col-md-3 control-label">Technology used</label>  
		               <div class="col-md-9">
		              <%= f.text_field :technology_used, required: true, class: 'form-control'%>
		             </div>
		            </div>
		          </div><br>

		          <div class="row">
		            <div class="form-group">
		              <label class="col-md-3 control-label">Scientific reason</label>  
		               <div class="col-md-9">
		              <%= f.text_field :scientific_description, required: true, class: 'form-control'%>
		             </div>
		            </div>
		          </div><br>
              
              <div class="row col-md-offset-5"> 
	              <%= link_to "Back", gadgets_path, class: 'btn btn-primary' %>
	              <%= f.submit "Save", class: 'btn btn-primary' %>
              </div>

		          </div>
		          </div>

          </div>
     

	<%end%>



